.display {
    background-color: aqua;
    width: 17em;
    border: 0.1em solid green;
    height: 3em;
    margin: 5em;
    text-align: right;
    font-weight: bolder;
    font-size: 1em;
  }

  .keys {
    width: 17em;
    border: 0.25em solid black;
    height: 20em;
    margin: 5em;
    vertical-align: middle;
    border-width: 0.05em;
    text-align: center;
    border: 0.25em solid aqua;
  }

  .clearscreen {
    
    text-align: right;
  }


  .operator {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    border-width: 0.05em;
    border-color: aqua;
    color: red;
  }

  .operatorEquals {

    background-color: rgb(20, 168, 218);
      width: 4em;
      height: 4em;
      border-radius: 50%;
      font-size: 1em;
      font-weight: bolder;
      border-width: 0.05em;
      border-color: white;
      color: white;
  }

  .operatorClear {

    background-color: rgb(235, 81, 61);
      width: 4em;
      height: 4em;
      border-radius: 50%;
      font-size: 1em;
      font-weight: bolder;
      border-width: 0.05em;
      border-color: white;
      color: white;
  }